@use "../abstracts/variables" as *;

.app-sidebar{

    position:fixed;

    top:76px;

    left:0;

    width:70px;

    height:calc(100vh - 76px);

    background:$base-white;

    border-right:1px solid $secondary-200;

    z-index:1000;
}

/* NAVIGATION */

.app-sidebar nav{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:14px;

    margin-top:16px;
}


/* NAV ITEM */

.nav-item{

    width:44px;

    height:58px;

    border-radius:12px;

    display:flex !important;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:4px;

    text-decoration:none;

    color:$secondary-400;

    transition:0.2s ease;
}


/* ICON */

.nav-item i{

    font-size:15px;
}


/* TEXT */

.nav-item span{

    font-size:8px;

    font-weight:600;
}


/* ACTIVE */

.nav-item.active{

    background:$primary-600;

    color:$base-white !important;

    box-shadow:0 8px 18px rgba(37,99,235,0.18);
}


/* ACTIVE TEXT */

.nav-item.active i,
.nav-item.active span{

    color:$base-white;
}


/* HOVER */

.nav-item:hover{

    background:$primary-50;

    color:$primary-600;
}


/* LOGOUT */

.logout-btn{

    position:absolute;

    bottom:16px;

    left:50%;

    transform:translateX(-50%);

    color:$secondary-400;
}

.logout-btn:hover{

    background:$primary-600;

    color:$base-white;
}